body {
    background-image:url(imagem-bg.jpg);
    background-repeat: repeat;
  	font-family: Arial, Helvetica, sans-serif;
}

h1{
  color: red;
}

.menu {
    height: 50px;
    background-color: yellow;
    position: top;
}

.botoesNavegacao {
   float: right;
   padding-right: 30px;
   font-family: Arial, Helvetica, sans-serif;
   color: red;
   font-weight: bold;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ff7100;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
} */
