main {
    display: flex;
    justify-content: space-around;
}


#controlador-despesas,
#despesas-detalhadas,
#extrato-despesas {
    border: 1px solid black;
    padding: 8px;
    margin: 2px;
    width: 300px; 
}


.nova-despesa {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}
