.smallcard-container {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 20px 10px;
    margin-bottom: 10px;
    height: 70px;
}

.smallcard-container > img {
    width: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

.smallcard-container h4 {
    margin-bottom: 15px;
    margin-right: 10px;
}

.smallcard-container p {
    display: inline;
}

.smallcard-container > div {
    display: flex;
    justify-items: flex-start;
}